
/*codes voor het logo bovenin de website*/
.Foodies_Logo_BW_Tekengebied {
    display: flex; 
    justify-content: center;
    align-items: center; /* Verticaal centreren */
    width: 100%; 
    height: 80px; 
}


.Foodies_Logo_BW_Tekengebied img {
    max-width: 100%; 
    max-height: 100%; 
}

/*code voor de home page navigatiebar, dat de tekst zwart is ipv. blauw */
.nav-link {
    color: #000000;
}


body{ 
   font-family:Condensed, Arial, Helvetica, sans-serif; 
}

nav {
    border-top: 1px solid #000; /* Dunne lijn boven de header */
    border-bottom: 1px solid #000; 
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center; /* Links centreren */
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #000;
}

nav ul li a:hover {
    background-color: #dad5d5f4; /* Hover effect */
}


.registrationIcon {
    float: right; /* Plaatst het element aan de rechterkant van de navigatiebalk */
    margin-left: -20px; /* Voegt wat ruimte toe tussen de afbeelding en andere items in de navigatiebalk */
    margin-right: 10px;
    margin-top: -5px;
}

.registrationIcon img {
    width: 23px; /* Pas de breedte van de afbeelding aan naar wens */
    height: auto; /* Behoudt de aspectverhouding van de afbeelding */
}


.favouritesIcon {
    float: right; /* Plaatst het element aan de rechterkant van de navigatiebalk */
    margin-left: 10px; /* Voegt wat ruimte toe tussen de afbeelding en andere items in de navigatiebalk */
}

.favouritesIcon img {
width: 30px;
height: auto;
}



/* Code voor dat blok om de teksten heen van: All recipes, etc. */
.tekstbox{
    text-align: left; /* Tekst links uitgelijnd */
    border: 8px solid #000; /* Zwarte lijn rondom het kader */
    display: inline-block;
    padding: 20px;
    width: auto; /* Pas de breedte automatisch aan de inhoud aan */
    height: auto; 
}


.content {
font-family: "din-condensed", sans-serif;
font-style: normal;
font-weight: 300;
font-size: 100px;
margin-left: 50px;
letter-spacing: -5px;
line-height: 0.8em ; 
}

.type {
    font-family: "din-condensed", sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 30px;
    margin: 10px;
    letter-spacing:-2px;
    line-height: 0.8em ; 
    display: flex; 
    justify-content: center;
    }
    
.fave-margin {
    margin-top: 250px;
    margin-bottom: 250px;
}

.image-collage {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5, 1fr); /* Verdelen in 3 kolommen */
    grid-auto-rows: 1fr;
    grid-gap: 10px;
    margin-top: 150px;
    margin-bottom: 100px;
}

.image-collage a{
    width: 400px;
    height: 400px;
    display: block;
 
}

.image-collage a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 10px;
}


.imageLink {
    position: absolute;
    bottom: 0%;
    left: 0%;
    right: 0%;
}

.image-container {
    position: relative; /* Zorgt ervoor dat de absolute gepositioneerde link relatief is aan deze container */
    display: inline-block; /* Zorgt ervoor dat de container alleen de breedte en hoogte van de afbeelding inneemt */
}

.link-text {
    position: absolute; /* Maakt de link absoluut gepositioneerd binnen de container */
    bottom: 0; /* Plaatst de link aan de onderkant van de container */
    left: 0; /* Plaatst de link aan de linkerkant van de container */
    background-color: rgba(255, 255, 255, 0.5); /* Achtergrondkleur van de link (optioneel) */
    padding: 5px; /* Ruimte rondom de linktekst (optioneel) */
}


/* onderstaande is voor de opmaak van de links in de afbeeldingen 
deze links zorgen ervoor dat de opmaak van all recipes page helemaal kut worden*/
.image-collage {
    display: flex;
    flex-wrap: wrap;
}

.image-container {
    width: 25%; /* Zorg ervoor dat elke container 25% van de breedte van de container inneemt */
    padding: 10px; /* Voeg wat ruimte toe tussen elke afbeelding */
    box-sizing: border-box; /* Zorgt ervoor dat padding binnen de breedte van de container wordt opgenomen */
}

.image-container img {
    width: 100%; /* Zorgt ervoor dat elke afbeelding de volledige breedte van de container inneemt */
    display: block; /* Verwijder eventuele witruimte onder de afbeelding */
}

/* Optioneel: stijl voor de hover-effect */
.image-container:hover {
    background-color: #f0f0f0; /* Verander de achtergrondkleur van de container bij hover */
}

/* registreer pagina komt nu*/
.custom-heading {
    margin-left: 10px;
    font-family:Condensed, Arial, Helvetica, sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* form een styling geven hieronder*/
.custom-form {
    margin: 0 auto;
    padding: 20px; /* Voeg wat ruimte toe binnen het kader */
    font-family: Condensed, Arial, Helvetica, sans-serif;  /* Stel het gewenste lettertype in voor het formulier */
    font-weight: bold;
  text-align: center;
  max-width: 400px;
  width: 100%;
}



.custom-form input[type="text"],
.custom-form input[type="email"],
.custom-form input[type="password"],
.custom-form input[type="confirmPassword"],
.custom-form input[type="name"],
.custom-form input[type="surname"],
.custom-form input[type="dateOfBirth"],
.custom-form input[type="gender"],


.custom-form textarea {
    width: 100%; /* Maak de invoervelden volledig breed binnen het formulier */
    padding: 10px; /* Voeg wat ruimte toe binnen de invoervelden */
    margin-bottom: 15px; /* Voeg wat ruimte toe tussen de invoervelden */
    border: 1px solid #000000; /* Stel een rand in rondom de invoervelden */
    border-radius: 0px; /* Geef de invoervelden afgeronde hoeken */
    
}

/* styling voor het keuze menu in de registratie ding*/
select {
    width: 100%; 
    padding: 10px; 
    border: 1px solid #000000; 
    border-radius: 0px; 
    font-family: Condensed, Arial, Helvetica, sans-serif;  /* Stel het gewenste lettertype in voor het formulier */
}

.dateOfBirth {
    width: 100%; 
    padding: 10px; 
    border: 1px solid #000000; 
    border-radius: 0px; 
    font-family: Condensed, Arial, Helvetica, sans-serif; 
}


/* Stijl voor de opties in het keuzemenu */
select option {
    padding: 10px; /* Ruimte binnen elke optie in het keuzemenu */
    font-family: Arial, sans-serif; /* Lettertype voor de opties in het keuzemenu */
}

/* Stijl voor de label */
label {
    font-weight: bold; /* Maak de label vetgedrukt */
}

button { 
    background-color: #ffffff;
    color: #000;
    width: 50%; 
    padding: 10px; 
    border: 3px solid #000000; 
    border-radius: 0px; 
    border-width: 5px;
    font-family: Condensed, Arial, Helvetica, sans-serif;
    font-weight: bold;
}

button:hover {
background-color: #000000;
color: #ffffff
}



.title {
    font-weight: bold; /* Maak de titel vetgedrukt */
    font-size: 1.2em; /* Maak de titel iets groter */
}

.text {
    margin-top: 10px; /* Ruimte tussen titel en inhoud */
}




/* Voeg deze stijlen toe om de footer onderaan de pagina te plaatsen */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.wrapper {
    text-align: left; /* Tekst links uitgelijnd */
    border: 8px solid #000; /* Zwarte lijn rondom het kader */
    display: inline-block;
    padding: 50px;
    width: auto; /* Pas de breedte automatisch aan de inhoud aan */
    height: auto; /* Pas de hoogte automatisch aan de inhoud aan */
    margin: 10px;

}

/*ONDERSTAANDE codes gaan over de footer van de website*/

.footer {
   /* position: absolute;
    bottom: 0; */
    width: 100%;
    height: 350px;
    background-color: #333; /* Grijze achtergrondkleur */
    color: #fff; /* Witte tekstkleur */
    padding: 20px 0; /* Ruimte rondom de inhoud van de footer */
}

.homep {
    margin-top: 80px;
}



.imagefooter {
    display: flex; 
    justify-content: center;
    align-items: center; /* Verticaal centreren */
margin-top: -20px;
}

.footerTekstL {
    text-align: left; 
margin-left: 10px;
font-family: "din-condensed", sans-serif;
    font-style: normal;
    font-weight: 50;
    font-size: 25px;
    margin-left: 20px;
    letter-spacing: -0.5px;
    line-height: 0.8em ; 
}

.LogoSocialsFooter {
    display: flex;
    justify-content: left;
    margin-left: 20px;
}


.tekstnaastAF {
font-family:"din-condensed", sans-serif ;
color: #ffffff;
font-weight: 45;
margin-left: 14px;
line-height: 34px;

}


/*carousel in de index, om de carousel kleiner en in het midden te centreren */
.carouselindex{
justify-content: center;
width: 100%;
height: 600px;
display: flex;
margin-bottom: 180px

}

.carouselIndexInner{
    width: 500px;
  ;
}

/*footer about us page*/
.about {
flex-shrink: 0; 
}

.recipefooter {
    margin-top: 60px;
}

/*footer foodblog page*/
.foodblog {
margin-top: 400px;
}

/*zoekbalk naar rechts zetten*/


.search-container {
    display: flex;
    justify-content: right;
    margin-top: -156px;
    margin-right: 20px;
}

.search-container input[type="text"] {
    padding: 10px;
    display: flex;
    width: 400px;
    border: 3px solid #000000;
    outline: none;
}

.search-container button {
    background-color: #ffffff;
    color: #000;
    width: 15%; 
    padding: 10px; 
    border: 3px solid #000000;
    border-left: 1px; 
    border-radius: 0px; 
    font-family: Condensed, Arial, Helvetica, sans-serif;
    font-weight: bold;
}



.search-container button:hover {
    background-color: #000000;
    color: #ffffff
}


.container {
    flex: 1;
}

.carousel {
    margin-top: 80px;
 }

